
{# #}


{% extends template('page-layout-customer', 'CustomerPage') %}

{% block content %}

<div class="box">
        <a class="button" href="{{ url('customer/kids-birthday/create') }}"> Add Kids Birthday</a>
    </div>
{% endblock %}


